.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.create {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 80%;
  height: 100%;
  margin: 5% auto;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.form {
  display: flex;
  &__create {
    margin-top: 2%;
    > div {
      margin: 2%;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
  }
}
.coordinates {
  display: flex;
  gap: 2%;
}
