.edit {
  > div {
    margin-top: 3%;
  }
}
.form {
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.form-report {
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 5%;
}
.coordinates {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 2%;
}
.info,
.create {
  width: 80%;
  display: flex;
  margin: 2% auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  justify-content: space-between;
  border-radius: 8px;
}
.report {
  width: 80%;
  margin: 2% auto;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  justify-content: space-between;
  border-radius: 8px;
}
.form__info,
.form__create {
  padding: 3%;
  width: 100%;
  > div {
    margin-top: 2%;
  }
}
.form__buttons {
  display: flex;
  justify-content: space-between;
}
.map {
  margin: 1%;
}
